.container {
  height: calc(65vh - 100px);
  background-color: rgb(38, 38, 38);
  display: flex;
}

.item {
  flex: 1;
  position: relative;
  display: flex;
  padding: 50px;
}

.item:first-child {
  flex: 1;
}

.item:last-child {
  flex: 3;
  padding: 50px;
  justify-content: space-between;
}

.card {
  flex: 1;
  padding: 0 20px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  color: white;
}

.text {
  color: rgba(211, 211, 211, 0.886);
}

.motto {
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin: 0;
  font-size: 25px;
  letter-spacing: 1.1px;
}

.brandName {
  color: white;
  font-size: 4rem;
  letter-spacing: 5px;
}

/** MODILE **/
@media screen and (max-width: 480px) {
  .container,
  .item {
    flex-direction: column;
    text-align: center;
  }

  .motto {
    margin-top: -4rem;
  }

  .container {
    height: auto;
  }

  .title {
    font-size: 1.4rem;
    margin-top: 1.4rem;
    border-bottom: 2px solid white;
  }
}
